<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/posts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <!-- External CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">


    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  </head>
  <body>
    <nav>
      <div>WiKi</div>
      <div class="home">
        <a href="/" rel="" tabindex="0">
          <span>Home</span>
        </a>
      </div>
      <div id="searchBoxContainer">
        <form action= "/search" METHOD = "POST">
          <textarea id="title" name = "text" placeholder="title" ></textarea>
          <textarea id="topic" name = "text" placeholder="topic"></textarea>
          <select name="text" id="type">
            <option value="all">All</option>
            <option value="video">Video</option>
            <option value="article">Article</option>
            <option value="quiz">Quiz</option>
            <option value="blog">Blog</option>
            <option value="documentation">Documentation</option>
            <option value="resource hub">Resource Hub</option>
            </select>
            <button type="Submit">Submit</button>
        </form>
      </div>
      <div>
        <button class="login" tabindex="0">
          <i class="far fa-user-circle"></i>
          <span>log in</span>
        </button>
      </div>
    </nav>
    <header>
      <div class = "text-post" id ="content"></div>
    </header>
  </body>
</html>
