<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Home Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/posts.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/single_post.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />


  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">


  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!--Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400&display=swap" rel="stylesheet">

</head>

<body>
  <div id="intro-message">Ready to learn? You <b>CAN</b> do it!</div>
  <nav>
    <div class="href">
      <div class="home">
        <a href="/" id="pagename">
          <span><b>Can</b>Academy.</span>
        </a>
      </div>
    </div>
    <div class="buttons-div">
      <button class="buttons" id="favourite">My Wall</button>
      <button class="buttons" id="search_button">Search</button>
      <button class="buttons" id="new-post">Compose Post</button>
      <hr />
    </div>
    <div id = "login-div">
      <span class="login-info"><%= name%>
        <i class="far fa-user-circle"></i>
      </span>
      <button class="btn draw-border">
        <span>LOGOUT</span>
      </button>
      <button class="btn update-prof" id = "update-button">
        <span>UPDATE</span>
      </button>
    </div>
  </nav>
  <div id="searchBoxContainer">
    <form class="search_form" id="search-form">
      <div class="label">
        <textarea id="title" name="title" placeholder="Search by Title..."></textarea>
      </div>
      <div class="label">
        <textarea id="topic" name="topic" placeholder="Search by Topic..."></textarea>
      </div>
      <div class="label">
        <select name="type" id="type">
          <option value=*>All</option>
          <option value="1">Video</option>
          <option value="2">Article</option>
          <option value="3">Quiz</option>
          <option value="4">Blog</option>
          <option value="5">Documentation</option>
          <option value="6">Resource Hub</option>
        </select>
      </div>
      <div class="label">
        <button id = "submit_search" type="Submit"><b>search</b></button>
      </div>
    </form>
  </div>
  <div id="edit-name">
    <form id="update-form">
      <textarea name="newname" id="username_text" placeholder="Enter New Name..."></textarea>
      <button type="submit">UPDATE</button>
    </form>
  </div>
  <header>
    <div id="comments_div"></div>
    <div class="new_post_form">
      <form id = "create_form" action="/create" method="POST">
        <div><h2 style="text-align: center;">New Post</h2></div>
        <div>
          <textarea name="title" id="new_title" placeholder="Title"></textarea>
        </div>
        <div>
          <textarea name="topic" id="new_topic" placeholder="topic"></textarea>
        </div>
        <div>
          <textarea name="description" id="new_description" placeholder="description"></textarea>
        </div>
        <div>
          <textarea name="url" id="new_url" placeholder="url"></textarea>
        </div>
        <div id="dropdown">
          <select name="type" id="new_type">
            <option value="1">Video</option>
            <option value="2">Article</option>
            <option value="3">Quiz</option>
            <option value="4">Blog</option>
            <option value="5">Documentation</option>
            <option value="6">Resource Hub</option>
          </select>
        </div>
        <button type="submit">CREATE POST</button>
        <hr/>
      </form>
    </div>
    <div class="text-post">
    </div>
    <div class="my-wall">
      <div class="my-post"></div>
      <div class="favourite-post"></div>
    </div>
  </header>
  <section id="footer">
    <div class="container">
      <div class="social">
            <a href="/"><i class="fab fa-facebook"></i></a>
            <a href="/"><i class="fab fa-twitter"></i></a>
            <a href="/"><i class="fab fa-instagram"></i></a>
            <a href="/"><i class="fab fa-google-plus"></i></a>
            <a href="/"><i class="fa fa-envelope"></i></a>
      </div>
        <div class="footer-text">
          <p><u><a href="/" style="color:black">Resource Wall</a></u> is a midterm project of LighthouseLab.</p>
          <p class="h6">© All right Reversed.<a  href="/"style="color:black" >CanAcademy</a></p>
      </div>
    </div>
  </section>
</body>

</html>
