nav {
  height: 120px;
  background: transparent;
  width: 100%;
  padding: 1em;
  font-family: Helvetica;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  position:fixed;
  top:0;
  .home {
    height: 48px;
    min-width: 60px;
  }
  #searchBoxContainer {
  min-width: 200px;
  }
}

