nav {
  height: 80px;
  background: green;
  width: 100vw;
  padding: 1em;
  font-family: Helvetica;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position:fixed;
  top:0;
  .home #pagename {
    height: 48px;
    min-width: 60px;
    text-decoration: none;
    outline: none;
    color:grey;
    font-size:36px;
  }
  .favourite #wall {
    color:black;
    text-decoration: none;
    outline: none;
    margin-left: -250px;
    display: flex;
    justify-content: space-around;
  }

}
.search_form {
  min-width: 200px;
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#search_button {
  height: 80px;
  width: 300px;
}

textarea {
  height: 34px;
  width: 300px;
  padding:10px;
}

.label {
  display: flex;
  justify-content: center;
}

.new_post_form {
  background-color: lightgrey;
  height: auto;
  width: auto;
  position: absolute;
  margin-left: 33%;
  margin-right: 33%;
  padding: 10px;
}

#source_button{
  font-size: large;
  font-weight: bolder;
}

#short_source{
  text-decoration: none;
}
