.text-post {
  display: grid;
  align-items: space-between;
  font-size:12px;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-left: 1em;
  padding-top:50px;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 300px 300px 300px 300px 300px;

}

.posts {
  border: 1px solid black;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-size:25px;
}

h5 {
  margin-top: -30px;
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

#timestamp {
  margin-top:8em;
}
