.text-post {
  display: flex;
  font-size:12px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  padding-left: 1em;
  padding-top:50px;
  height: auto;
  padding: 50px;
  margin-top: 40px;
}

.posts {
  border: 1px solid black;
  color: #f4f1ec;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  width: 275px;
  height: 275px;
  padding: 5px;
  background-position: center;
  background-size: auto;
}

h4 {
  font-size:25px;
}

h5 {
  margin-top: -30px;
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

#timestamp {
  font-size: 12pt;
}

.my-wall {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.favourite-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
}

.my-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
}

a {
  color: #f4f1ec;
}
