#comments_div {
  background-color: yellowgreen;
  width: 100vw;
  height:500px;
  position: fixed;
  margin-top:100px;
  width: 80%;
  margin-left:10%;
  overflow: scroll;
}


form.single_post {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#comments_section {
  margin-top: 30px;
}

#new_comment {
  border:none;
  border-bottom: 3px solid black;
  width: 100%;
  background-color: yellowgreen;
  resize: none;
  font-size: 12px;
}

footer {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 10px;
}

#comment_article {
  border: 2px solid black;
  height:80px;
  font-size:12px;
}

#post_info {
  border: 2px solid black;
  height: auto;
  text-align: center;
}


